Htet Khant Linn

Feb 25, 2026

Week 4

In [1]:
import numpy as np
import pandas as pd

# Load the data
df = pd.read_csv(
    "data/retail_sales.csv",
    parse_dates = ["ds"],
    index_col = ["ds"]
    )


df_feature = df.copy()

# lag = 1

lag = 12

df_feature["y_lag_12"] = df_feature.shift(periods = lag)
df_feature.head()

df_feature = df_feature.dropna()

df_feature.to_csv("output/time_series_with_lag_feature.csv", index=True)

In [2]:
df_feature.head()

                 y  y_lag_12
ds
1993-01-01  153221  146376.0
1993-02-01  150087  147079.0
1993-03-01  170439  159336.0
1993-04-01  176456  163669.0
1993-05-01  182231  170068.0